<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
         "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">  

<hibernate-configuration>

	<session-factory >
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
      	<property name="hbm2ddl.auto">update</property>
      	
<!--       Hibernate Test
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/lis</property>
		<property name="connection.username">root</property>
	 -->	
    	<!-- C3P0 -->
		<property name="c3p0.max_size">5</property>
		<property name="c3p0.min_size">2</property>
	    <property name="c3p0.timeout">5000</property>
	    <property name="c3p0.max_statements">100</property>
	    <property name="c3p0.idle_test_period">3000</property>
	    <property name="c3p0.acquire_increment">2</property>
	    <property name="c3p0.validate">false</property>
	    
	    <!-- enchache -->
		<!-- hbm.xml test -->
      	
		<mapping resource="com/lis/base/test/UserXmlTest.hbm.xml"></mapping>
      	
      	
      	
      	<!-- tsp模板的配置 -->
      	<mapping resource="com/lis/tsp/entity/Car.hbm.xml"/>
      	<mapping resource="com/lis/tsp/entity/CarPreserve.hbm.xml"/>
      	<mapping resource="com/lis/tsp/entity/CarRepair.hbm.xml"/>
      	<mapping resource="com/lis/tsp/entity/Line.hbm.xml"/>
      	<mapping resource="com/lis/tsp/entity/Chauffeur.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
