div.sdmenu {
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	background: url(../img/bottom.gif) no-repeat  right bottom;
	color: #fff;
}
div.sdmenu div {
	background: url(../img/title.gif) repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url(../img/title.gif) repeat-x;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	color: white;
	background: url(../img/expanded.gif) no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url(../img/collapsed.gif);
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #eee;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #066;
	text-decoration:none;
}
div.sdmenu div a.current {
	background : #ccc;
	text-decoration:none;
}
div.sdmenu div a:hover {
	background : #066 url(../img/linkarrow.gif) no-repeat right center;
	color: #fff;
	text-decoration: none;
}